<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <!-- if user is logged in then display URLS else prompt to login or register first -->
  <% if (user_id) { %>
  <!-- display list of URLS and shortened form -->
  <h1>URLS</h1>
  <ul>
    <!-- loop over url object -->
    <!-- urls = urlDatabase -->
    <% for (var i in urls) { %>
    <li>
      <!-- link long url -->
      <a href='<%= urls[i].longURL %>'>
        <%= urls[i].longURL %></a>
      <span> </span>
      <!-- i = shortURLS -->
      <a href="/u/<%=i%>">
        <%= i %></a>
      <!-- add edit links for each (changed from <a> to <button>) -->
      <form method="GET" action="/urls/<%=i%>">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>

      <!-- adding delete button form -->
      <form method="POST" action="/urls/<%=i%>/delete">
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>

    </li>
    <% } %>
  </ul>
  <% } else { %>
  <h3>Please Login or Register first to see your URLs</h3>
  <% } %>
  <!-- create new button -->
  <% if (user_id) { %>
  <form method="GET" action="/urls/new">
    <button type="submit" class="btn btn-primary">Create New Short URL</button>
  </form>
  <% } %>
</body>

</html>